[submodule "lodepng"]
	path = StegosaurusEngine/vendor/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "StegosaurusEngine/vendor/argon2"]
	path = StegosaurusEngine/vendor/argon2
	url = https://github.com/winlibs/argon2
[submodule "StegosaurusEngine/vendor/tinyAES"]
	path = StegosaurusEngine/vendor/tinyAES
	url = https://github.com/ajs8657/tinyAES
[submodule "StegosaurusEngine/vendor/argagg"]
	path = StegosaurusEngine/vendor/argagg
	url = https://github.com/vietjtnguyen/argagg
